[submodule "libs/clap"]
	path = libs/clap
	url = https://github.com/free-audio/clap.git
[submodule "libs/readerwriterqueue"]
	path = libs/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
[submodule "libs/clap-helpers"]
	path = libs/clap-helpers
	url = https://github.com/free-audio/clap-helpers.git
[submodule "libs/vstgui"]
	path = libs/vstgui
	url = https://github.com/johnmatter/vstgui.git
	branch = clap-saw-demo-fixes
[submodule "libs/madronalib"]
	path = libs/madronalib
	url = https://github.com/johnmatter/madronalib.git
	branch = header-cleanup
